<a href="https://colab.research.google.com/github/L-Oliva/Linear-Regression-Implementation/blob/main/Multiple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import numpy as np
import pandas as pd

df = pd.read_csv('sample_data/california_housing_train.csv')

In [53]:
df.corr()['total_bedrooms']
# Finds corrolations between other things and total bedrooms

longitude             0.071802
latitude             -0.069373
housing_median_age   -0.320434
total_rooms           0.928403
total_bedrooms        1.000000
population            0.881169
households            0.980920
median_income        -0.013495
median_house_value    0.045783
Name: total_bedrooms, dtype: float64

In [54]:
bedrooms = df['total_bedrooms']
df = df.drop(['total_bedrooms','longitude','latitude', 'housing_median_age', 'median_income', 'median_house_value'], axis=1)

In [55]:
df_np = df.to_numpy()
N = df_np.shape[0]
w = np.array([1,1,1])
b = 1
learnRate = 0.1
df_np[0]

# Feature Scaling
max = [0,0,0]
for i in range(N):
  if df_np[i][0] > max[0]:
    max[0] = df_np[i][0]
  if df_np[i][1] > max[1]:
    max[1] = df_np[i][1]
  if df_np[i][2] > max[2]:
    max[2] = df_np[i][2]
for i in range(N):
  df_np[i][0]=df_np[i][0]/  max[0]
  df_np[i][1]=df_np[i][1]/ max[1]
  df_np[i][2]=df_np[i][2]/ max[2]

In [56]:
def cost (N,X,w,b,max,bedrooms):
  cost = 0.0
  for i in range(N):
    X[i][0] *= max[0]
    X[i][1] *= max[1]
    X[i][2] *= max[2]
    f_wb_i = np.dot(X[i],w) + b
    cost += (f_wb_i - bedrooms[i])**2
  cost = cost/ (2*N)
  return (np.squeeze(cost))

In [57]:
def decent (df_np,learnRate,w,b,bedrooms):
  m,n = df_np.shape
  m = 100
  dj_dw = np.zeros((n,))
  dj_db = 0
  for i in range(m):
    err = (np.dot(df_np[i],w)+b) - bedrooms[i]
    for j in range(n):
      dj_dw[j] = dj_dw[j] + err * df_np[i,j]
    dj_db += err
  dj_dw /= m
  dj_db /= m
  return dj_dw,dj_db

In [58]:
def predict (X,max,w,b):
  X[0] *= max[0]
  X[1] *= max[1]
  X[2] *= max[2]
  calc = (np.dot(X,w))+b
  return calc

In [ ]:
import decimal
for t in range(8000000):
  dj_dw,dj_db = decent(df_np,learnRate,w,b,bedrooms)
  w = w - learnRate*dj_dw
  b = b - learnRate*dj_db
  print(t,"W:",w,"B:",b,"Cost:",cost(100,df_np,w,b,max,bedrooms),"X:",bedrooms[0],"Prediction:",predict(df_np[0],max,w,b))

In [61]:
# Before Feature Scaling after 100000
## 100000 W: [ 0.21024355 -0.03407831  0.20724991] B: 0.8331559481670938 Cost: 2096.601341583153 X: 1283.0 Prediction: 1243.952426671854 Learning Rate = 0.0000001
w = np.array([0.21024355, -0.03407831,  0.20724991])
b = 0.8331559481670938
# After Feature Scaling after 1000000
# 100000 W: [ 8142.48827776 -1020.28633946  1489.53238214] B: -32.334027936709184 Cost: 1968.8438699653846 X: 1283.0 Prediction: 1258.7538334804985
w = np.array([8142.48827776, -1020.28633946,  1489.53238214])
b = -32.334027936709184

# Global Minimum for First 100: 152704 W: [ 8136.29159344 -1052.67892045  1512.99984785] B: -32.33018062475807 Cost: 1968.793824037991 X: 1283.0 Prediction: 1258.740795823365